<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <a href="/trains">Поезда</a> |
    <a href="/railway_stations">Станции</a> |
    <a href="/routes">Маршруты</a> |
    <a href="/tickets">Билеты</a> |
    <a href="/users">Пользователи</a>
  </header>
  <body>
    <%= yield %>
  <footer>
    <p>&copy; 2017 Anatoly Stupin. Учебный проект в <a href="http://www.thinknetica.com/" target="_blank">онлайн-школе Thinknetica</a></p>
  </footer>
  </body>
</html>
